@page
@model ForgotPasswordModel

@{
    Layout = "_LoginLayout";
}

<title>Forgot your password? - CodeForge</title>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button class="button" type="submit">Reset Password</button>
</form>