@page
@model ForgotPasswordConfirmation
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot password confirmation";
}

<p class="text-white">
    Please check your email to reset your password.
</p>
