@page
@model LoginModel

@{
    Layout = "_LoginLayout";
}

<form method="post" id="account">
    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email"><br>
    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Password"><br>
    <button class="button" id="login-submit" type="submit">Login</button>
</form>
<div class="form-footer">
    <a asp-page="./ForgotPassword">Forgot Password?</a>
</div>