@page
@model ResetPasswordConfirmationModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset password confirmation";
}

    <p class="text-white">
        Your password has been reset. Please <a class="text-info" asp-page="./Login">click here to log in</a>.
    </p>
    