<div id="modalInvalidIdea" class="modal overflow-hidden" tabindex="-1">
    <div class="modal-dialog h-25">
        <div class="modal-content webapp-invalid-content">
            <div class="modal-header webapp-invalid-header">
                <h5 class="modal-title">CodeForge</h5>
                <button id="btnCloseInvalidIdea" type="button" class="btn-close" aria-label="close">
                </button>
            </div>
            <div class="modal-body webapp-invalid-body text-white">
                Your message includes inappropriate content, please try again.
            </div>
        </div>
    </div>
</div>