<div id="modalInvalidIdea" class="modal overflow-hidden" tabindex="-1">
    <div class="modal-dialog h-50">
        <div class="modal-content h-50">
            <div class="modal-header webapp-reaction-header h-25">
                <h5 class="modal-title">CodeForge</h5>
                <button id="btnCloseInvalidIdea" type="button" class="btn-close" aria-label="close">
                </button>
            </div>
            <div class="modal-body webapp-reaction-body text-white h-25">
                Your message includes inappropriate content, please try again.
            </div>
        </div>
    </div>
</div>