@***************************************
 *                                     *
 * Created by CodeForge                *
 * Visit https://codeforge.eliasdh.com *
 *                                     *
 ***************************************@

@using Domain.ProjectLogics
@model MainTheme

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Theme {Model.Id}";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>Theme <span id="themeId">@Model.Id</span> - @Model.Subject</h1>
<div>
    <a class="btn" id="linearBtn" asp-area="" asp-controller="Flow" asp-action="Step" asp-route-id="2">Linear Flow</a>
    <a class="btn" id="circularBtn" asp-area="" asp-controller="Flow" asp-action="Step" asp-route-id="1">Circular Flow</a>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Sub-Theme ID</th><th>Subject</th><th>Details</th>
        </tr>
        </thead>
        <tbody id="subThemeContainer"></tbody>
    </table>
</div>
</body>
<footer>

</footer>
</html>

<script src="/dist/mainThemeDetails.entry.js" defer></script>