@***************************************
 *                                     *
 * Created by CodeForge                *
 * Visit https://codeforge.eliasdh.com *
 *                                     *
 ***************************************@

@using Domain.ProjectLogics
@model MainTheme

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Theme {Model.Id}";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>Theme <span id="themeId">@Model.Id</span> - @Model.Subject</h1>
<div>
    <button id="linearBtn">Linear Flow</button>
    <button id="circularBtn">Circular Flow</button>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Sub-Theme ID</th><th>Subject</th><th>Details</th>
        </tr>
        </thead>
        <tbody id="subThemeContainer"></tbody>
    </table>
</div>
</body>
<footer>

</footer>
</html>

<script src="/dist/mainThemeDetails.entry.js" defer></script>