@model Domain.Platform.SharedPlatform

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body class="row h-100 w-100">
<div class="text-center">
    <div class="row h-100 w-100">
        <!-- Dashboard -->
        <div class="col-lg-2 bgPrimary" id="navbar" style="padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0; padding-bottom: 100px;">
            <ul class="nav flex-column mb-auto" id="maincontent" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                <div class="logo">
                    <img src="/favicon.ico" alt="Logo">
                </div>
        
                <li class="nav-item" style="background: white; padding-bottom: 10px; padding-top: 10px; padding-right: 0; padding-left: 0;">
                    <a id="accountname"></a>
                </li>
                <li class="nav-item" style="padding-bottom: 10px; padding-bottom: 10px; padding-top: 10px;  padding-right: 0; padding-left: 0;">
                    <a href="/SharedPlatform/Dashboard" class="nav-link active text-dark border-0" aria-current="page">Dashboard</a>
                </li>
                <li class="nav-item bgAccent" style="padding: 10px 0; margin-top: auto;">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a href="/Account/Logout" class="d-block text-dark">
                            <button id="logout" type="submit" class="btn btn-link text-dark border-0 w-100 text-decoration-none">Sign Out</button>
                        </a>
                    </form>
                </li>

                <div class="nav-item" id="language" style="padding-top: 20px;  padding-right: 70%;">
                    <button class="btn btn-link text-dark border-0 w-100 bgAccent" style="padding: 20px">NED</button>
                </div>

                <div class="nav-item" id="collapseButton" style="padding-top: 20px;  padding-left: 70%;">
                    <button class="btn btn-link text-dark border-0 w-100 bgPrimary" style="padding: 20px"><i id="icon" class="bi bi-caret-left-fill"></i></button>
                </div>
                
                
            </ul>
        </div>

        
        <!-- Partials -->
        <div class="col-lg-10 col-md-9 col-sm-8 col-6">
            <div class="py-3 h-100">
                @* <partial name="Partials/NavigationPartial"/> *@
                
                <partial name="Partials/ProjectPartial"/>
                <partial name="Partials/UserPartial"/>

                <partial name="Toasts/_UserCreatedToast"/>
                <partial name="Toasts/_ProjectCreatedToast"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<p class="visually-hidden" id="platformId">@Model.Id</p>

<script src="~/dist/site.entry.js" defer></script>
<script src="~/dist/dashboard.entry.js" defer></script>