@model Domain.Platform.SharedPlatform

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body class="row h-100 w-100">
<div class="text-center">
    <div class="row h-100 w-100">
        <!-- Dashboard -->
        <partial name="../Layout/NavigationLayout.cshtml"/>
        
        <!-- Partials -->
        <div class="col-lg-10 col-md-9 col-sm-8 col-6">
            <div class="py-3 h-100">
                
                
                <partial name="Partials/ProjectPartial"/>
                <partial name="Partials/UserPartial"/>

                <partial name="Toasts/_UserCreatedToast"/>
                <partial name="Toasts/_ProjectCreatedToast"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<p class="visually-hidden" id="platformId">@Model.Id</p>

<script src="~/dist/site.entry.js" defer></script>
<script src="~/dist/dashboard.entry.js" defer></script>