@model Domain.Platform.SharedPlatform

@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100 w-100">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body class="row h-100 w-100">
<partial name="Partials/UserPartial"/>
<partial name="Partials/ProjectPartial"/>
</body>
</html>
<p class="visually-hidden" id="platformId">@Model.Id</p>

<script src="~/dist/site.entry.js" defer></script>
<script src="~/dist/dashboard.entry.js" defer></script>