<div class="modal" id="deleteSubThemeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close invisible"></button>
                <h3 class="modal-title text-black text-end">Delete SubTheme?</h3>
                <button type="button" class="btn-close" id="butCloseDeleteSubTheme"></button>
            </div>
            <div class="modal-body bgColor">
                <div class="col ms-3">
                    <div class="form-group mb-3">
                        <label style="color: red">
                            This will permanently delete all flows in the SubTheme!
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 bgColor">
                <button type="button" class="btn bgSecondary text-white" id="butCancelDeleteSubTheme">Cancel</button>
                <button type="button" class="btn bgPrimary text-white" id="butConfirmDeleteSubTheme">Delete SubTheme</button>
            </div>
        </div>
    </div>
</div>