@***************************************
 *                                     *
 * Created by CodeForge                *
 * Visit https://codeforge.eliasdh.com *
 *                                     *
 ***************************************@

@using Domain.ProjectLogics
@model SubTheme

@{
    Layout = "_NavLayout";
    ViewData["Title"] = Model.Subject;
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<body class="row h-100 w-100">
<div class="text-center col-lg-10">
        <!-- Dashboard -->
        <!-- Titel -->
            <div class="py-3">
                <div class="row ms-4">
                    <div class="col-auto card border-black border-2 bgAccent align-top">
                        <a id="btnGoBackToProject" class="border-0 p-0 m-2 bg-transparent text-black text-decoration-none" asp-controller="Project" asp-action="ProjectPage" asp-route-isMainThemeId="true" asp-route-id="@Model.MainTheme.Id">Go back to project</a>
                    </div>
                    <div class="col-auto card border-black border-2 bgAccent align-top ms-5">
                        <button id="btnSaveSubTheme" class="border-0 p-0 m-2" style="background: none;">Save SubTheme</button>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <div class=" card border-black border-2 m-4 bgAccent">
                            <input id="inputTitle" class="m-1" placeholder="Theme Subject." value="@Model.Subject">
                        </div>
                        <p id="errorMsgTitle" style="text-align: left;">&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row row-cols-3 ps-4 pe-4 m-4 ">
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Flow ID</th><th>Flow Type</th><th>Edit</th>
                            </tr>
                            </thead>
                            <tbody id="flowContainer"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>
<partial name="_NotificationToast"></partial>
<span id="subThemeId" class="visually-hidden">@Model.Id</span>
<script src="/dist/site.entry.js" defer></script>
<script src="/dist/subTheme.entry.js" defer></script>