@import "variables";

.editor-shared-outer-container {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  border: thin solid black;
  background-color: map-get($themes, light, secondary);
}

.editor-shared-inner-container {
  background-color: map-get($themes, light, accent);
  border: thin solid black;
  border-radius: 5px;
  height: 100%;
}

.step-card {
  background-color: map-get($themes, light, primary);
  border: thin solid black;
  border-radius: 5px;
  height: 180px;
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
  min-width: 300px;
}

.step-card:hover {
  background-color: map-get($themes, light, secondary);
  border: thin solid black;
}

.choice-textarea {
  min-height: 50px;
  height: 60px;
  max-height: 200px;
  width: 600px;
  margin: 5px;
}

#question-textarea, #text-textarea {
  min-height: 50px;
  height: 80px;
  max-height: 200px;
  width: 800px;
  margin: 5px;
  overflow: auto;
  resize: none;
}

.choice-container {
  display: flex;
  align-items: center;
}

.btn-choice {
  margin-left: 10px;
  margin-right: 5px;
}

.btn-add-element {
  border-color: black;
}

.btn-add-element:disabled {
  background-color: gray;
}

.question-container {
  padding: 1em;
  margin: 1em;
  width: 1200px;
  display: flex;
  align-self: center;
  justify-self: center;
  overflow-wrap: normal;
}

#choices-container, #question-container, #text-container {
  padding: 10px;
  align-items: center;
  justify-items: center;
  display: grid;
}

#input-container {
  display: grid;
  grid-template-columns: 150px repeat(4, 1fr);
  grid-template-rows: repeat(2, 75px) repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#saveFlow {
  position: relative;
  display: inline-flex;
  left: 5px;
  height: 100px;
}

#btn-area-1 { 
  grid-area: 1 / 1 / 3 / 2;
  width: 75%;
  align-content: center;
  justify-content: center;
}
#btn-area-2 { 
  grid-area: 1 / 2 / 3 / 6;
}

#step-view {
  width: 1920px;
  min-height: 720px;
}

#step-view-container {
  border: thin solid black;
  border-radius: 5px;
  background-color: map-get($themes, light, background);
}

#step-container {
  height: 300px;
}

#steps-list {
  padding: 10px;
  overflow-x: auto;
  display: flex;
  height: 80%;
}

#btn-add-step {
  margin: 10px;
}

