/***************************************
 *                                     *
 * Created by CodeForge                *
 * Visit https://codeforge.eliasdh.com *
 *                                     *
 ***************************************/

@font-face {
  font-family: 'Trirong';
  src: url('https://fonts.googleapis.com/css?family=Trirong:700|Trirong:400');
}

@import "Login/login";
@import "variables";
@import "flowcards";
@import "flowEditor";
@import "Flow/kiosk";
@import "SystemPlatform/systemPlatform";
@import "facilitator";
@import "notes";
@import "home";

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-color);
  font-family: $font;
  font-size: $fontSize;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: black;
  font-weight: bold;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  color: black;
  font-weight: bold;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.highlighter{
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.bgSecondary{
  background: var(--secondary-color);
}

.bgAccent {
  background: var(--accent-color);
}

.bgPrimary {
  background: var(--primary-color);
}

.bgColor {
  background: var(--background-color);
}

.bgModal {
  background: hsl(48, 61%, 47%);
}
.bgPrimaryBack {
  background: hsl(220, 81%, 23%);
}

.border-accent {
  border-color: var(--accent-color);
}

.bi-person-plus-fill {
  font-size: 10vh;
}

.modal-icon{
  font-size: 3.5vh;
}

.warning {
  color: var(--accent-color);
  font-size: 0.8em;
}

#navbar {
  transition: width 0.5s;
}
//#maincontent.collapsed { //todo werkt niet
//  width: 200px;
//  transition: width 2s !important; 
//}
#navbar.collapsed {
  width: 200px;
}

.bhover:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3) !important;
}
.modal-content {
  background-color: var(--background-color);
}

.flow-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}

#flow-cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none; // Hide scrollbar for firefox
}

/* Hide scrollbar for webkit browsers */
#flow-cards::-webkit-scrollbar {
  width: 0;
}
.forSubtheme{
  width: 200px;
  height: 700px;
}
.flow-card {
  background-color: var(--primary-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: .5em;
  transition: width 0.3s ease, height 0.3s ease;
}
.forProject {
  width: 200px;
  height: 300px;
}
.forSubtheme:hover {
  width: 220px;
  height: 730px;
  background-color: var(--primary-color);
}
.forSubtheme#btnCreateFlowSub:hover {
  width: 220px;
  height: 730px;
  background-color: var(--primary-color);
}
.forProject:hover {
  width: 220px;
  height: 330px;
  background-color: var(--primary-color);
}
.flow-card#btnCreateFlowProject:hover {
  width: 220px;
  height: 330px;
  background-color: var(--primary-color);
}
.flow-card-header {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  padding-top: 2em;
}

.flow-card-footer {
  text-align: center;
  font-weight: bold;
  background-color: var(--accent-color);
}

.btn-container {
  padding-bottom: 1em;
  padding-top: 1em;
}

#container-flow-btn {
  display: flex;
  justify-content: center;
}

.embla {
  width: 100% ;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.container-content-body {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);;
}

/* Chrome, Safari, ... */
/*
.container-content-body::-webkit-scrollbar {
  width: 10px;
}

.container-content-body::-webkit-scrollbar-thumb {
  background: map-get($themes, light, primary);
  border-radius: 20px;
}

.container-content-body::-webkit-scrollbar-track {
  background: map-get($themes, light, secondary);
  border-radius: 20px;
}
*/

.hyperlink-iframe {
  aspect-ratio: inherit;
  width: 100%;
  height: 25em;
  align-self: center;
  justify-self: center;
  border: thick var(--secondary-color) solid;
  border-radius: 20px;
}



#btn-open-styling {
  height: 100%;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  overflow: hidden;
  position: relative;
  transition: background .4s ease-in-out, transform .4s ease-in-out;
}

#btn-open-styling::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--accent-color) 0%, var(--secondary-color) 40%, var(--primary-color) 90%, var(--primary-color) 100%);
  opacity: 0;
  transition: opacity .4s ease-in-out;
  z-index: 0;
}

#btn-open-styling:hover {
  transform: scale(1.10);
}

#btn-open-styling:hover::before {
  opacity: 1;
}

#btn-open-styling p {
  position: relative;
  z-index: 1;
  font-weight: bolder;
  font-size: x-large;
  margin: 0;
}

