@font-face {
  font-family: 'Trirong';
  src: url('https://fonts.googleapis.com/css?family=Trirong:700|Trirong:400');
}

$themes: (
        light: (
                text: hsl(0, 0%, 0%),
                background: hsl(48, 61%, 89%),
                primary: hsl(201, 57%, 54%),
                secondary: hsl(16, 82%, 51%),
                accent: hsl(31, 100%, 48%),
        ),
        dark: (
                text: hsl(0, 0%, 100%),
                background: hsl(48, 61%, 11%),
                primary: hsl(201, 57%, 46%),
                secondary: hsl(16, 82%, 49%),
                accent: hsl(31, 100%, 52%),
        ),
);

$fontSize: 1.25rem;
$font: 'Trirong', serif;

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: map-get($themes, light, background);
  font-family: $font;
  font-size: $fontSize;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: black;
  font-weight: bold;
  background-color: map-get($themes, light, primary);
  border-color: map-get($themes, light, primary);
}

.btn-secondary {
  color: black;
  font-weight: bold;
  background-color: map-get($themes, light, secondary);
  border-color: map-get($themes, light, secondary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.highlighter{
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.bgSecondary{
  background: map-get($themes, light, secondary);
}

.bgAccent {
  background: map-get($themes, light, accent);
}

.bgPrimary {
  background: map-get($themes, light, primary);
}

.bgColor {
  background: map-get($themes, light, background);
}

.bgModal {
  background: hsl(48, 61%, 47%);
}

.border-accent {
  border-color: map-get($themes, light, accent);
}

.bi-person-plus-fill {
  font-size: 10vh;
}

.warning {
  color: map-get($themes, light, accent);
  font-size: 0.8em;
}


.modal-content {
  background-color: map-get($themes, light, background);
}

.card-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}

#cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  overflow-x: scroll;
  scrollbar-width: none; // Hide scrollbar for firefox
}

/* Hide scrollbar for webkit browsers */
#cardsr::-webkit-scrollbar {
  width: 0;
}

.card {
  width: 200px;
  height: 300px;
  background-color: map-get($themes, light, primary);
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: .5em;
  transition: width 0.3s ease, height 0.3s ease;
}

.card:hover {
  width: 220px;
  height: 330px;
}

.card-header {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  padding-top: 2em;
}

.card-footer {
  text-align: center;
  font-weight: bold;
  background-color: map-get($themes, light, accent);
}

.btn-container {
  padding-bottom: 1em;
  padding-top: 1em;
}

#container-flow-btn {
  display: flex;
  justify-content: center;
}
