@{
    ViewBag.Title = "title";
    Layout = null;
}

<html lang="">
<head>
    <title>Feed</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body class="m-0">
<div class="row row-cols-3 h-100">
    <div class="col-3 bgPrimary">

    </div>
    <div class="col-6">

    </div>
    <div class="col-3 bgPrimary">

    </div>
</div>
</body>
</html>