@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>
<div>
    <video id="vidInput" hidden></video>
    <canvas id="canvasTransfer"></canvas>
</div>
</body>
</html>

@section Scripts
{
    <script src="dist/webcam.entry.js" defer></script>
}