@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>
<div>
    <video id="vidInput" hidden></video>
    <div style="position: relative">
        <canvas id="canvasVideo" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
        <canvas id="canvasDetection" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
        <canvas id="canvasChoices" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
    </div>
    
</div>
</body>
</html>

@section Scripts
{
    <script src="dist/webcam.entry.js" defer></script>
}