@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>
<div>
    <div id="liveview" class="camView">
<video id="vidInput"></video>
    </div>
    <canvas id="canvasTransfer">
        
    </canvas>
    <canvas id="canvasCV"></canvas>
</div>
</body>
</html>

@section Scripts
{
    <script src="dist/webcam.entry.js" defer></script>
}