@using Domain.Accounts
<!DOCTYPE html>
<html lang="">
<head>
    <!--Meta + Title-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CodeForge</title>
    <!--Meta + Title-->
    <!--CSS-->
    <link rel="stylesheet" href="~/dist/site.css"/>
    <!--CSS-->
</head>
<body>
<div class="navbar-container col-lg-2 bgPrimary" id="navbar">
    <ul class="navbar-menu nav flex-column mb-auto" id="maincontent">
        <!--Logo-->
        <div class="logo" id="navbar-logo-id">
            <img src="/favicon.ico" alt="Logo">
        </div>
        <!--Logo-->
        
        <!--Name of the user-->
        <li class="navbar-nameuser" id="tohideAN" >
            <a>Hi, @(User.Identity!.Name ?? "User")!</a>
        </li>
        <!--Name of the user-->
        
        <!--Buttons to navigate-->
        @if (User.IsInRole(UserRoles.SystemAdmin)) // If the user is a SystemAdmin
        {
            <li class="navbar-menu-item" id="tohideD">
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SystemPlatform" aria-current="page"> Dashboard</a></i>
            </li>
            <li class="navbar-menu-item" id="tohideS">
                <i class="bi bi-pie-chart-fill"><a asp-controller="Statistics" asp-action="Statistics" aria-current="page"> Statistics</a></i>
            </li>
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li class="navbar-menu-item" id="tohideC">
                    <button id="exportAllCSV">Download all CSV's</button>
                </li>
            }
        }
        else if (User.IsInRole((UserRoles.PlatformAdmin))) // If the user is a PlatformAdmin
        {
            <li class="navbar-menu-item" id="tohideD">
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SharedPlatform" aria-current="page"> Dashboard</a></i>
            </li>
            <li class="navbar-menu-item" id="tohideS">
                <i class="bi bi-pie-chart-fill"><a asp-controller="Statistics" asp-action="Statistics" aria-current="page"> Statistics</a></i>
            </li>
        }
        else if (User.IsInRole(UserRoles.Facilitator)) // If the user is a Facilitator
        {
            <li class="navbar-menu-item" id="tohideD">
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="Facilitator" aria-current="page"> Dashboard</a></i>
            </li>
            <li class="navbar-menu-item" id="tohideS">
                <i class="bi bi-tv-fill"><a asp-action="Facilitator" asp-controller="Flow" aria-current="page"> Connect to kiosk</a></i>
            </li>
        }
        else
        {
            <li class="navbar-menu-item" id="tohideD">
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SharedPlatform" aria-current="page">Dashboard</a></i>
            </li>
        }
        <li class="navbar-menu-item-logout" id="tohideLO">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
            </form>
        </li>
        <!--Buttons to navigate-->

        <div class="d-flex">
            <div id="language" class="navbar-language-dropdown">
                <button class="navbar-menu-item-language-button">NL</button>
                <div class="navbar-language-dropdown-content">
                    <a href="#">NL</a>
                    <a href="#">EN</a>
                    <a href="#">FR</a>
                    <a href="#">DE</a>
                </div>
            </div>

            <div id="collapseButton">
                <button class="navbar-menu-item-arrow-button" id="arrow-button">
                    <i id="nav-icon" class="bi bi-caret-left-fill"></i>
                </button>
            </div>
        </div>
    </ul>
</div>
@RenderBody()
</body>
</html>

<!--JS-->
@await RenderSectionAsync("Scripts", required: false)
<script src="~/dist/navigation.entry.js" defer></script>
<script src="~/dist/site.entry.js" defer></script>
<!--JS-->
