@using Domain.Accounts
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CodeForge</title>
    <script src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body>
<div class="col-lg-2 bgPrimary h-100" id="navbar" >
    <ul class="nav flex-column mb-auto" id="maincontent" >
        <div class="logo">
            <img src="/favicon.ico" alt="Logo">
        </div>

        <li id="tohideAN" class="nav-nav-item text-center" >
            <a>Welcome @User.Identity!.Name!</a>
        </li>
        @if (User.IsInRole(UserRoles.SystemAdmin))
        {
            <li id="tohideD" class="nav-nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SystemPlatform" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page">Dashboard</a>
            </li>
            <li id="tohideS" class="nav-nav-item bgPrimary text-center" >
                <a asp-controller="Statistics" asp-action="Statistics" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page" >Statistics</a>
            </li>
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li id="tohideC" class="nav-nav-item bgPrimary text-center">
                    <button id="exportAllCSV" class="bhover nav-nav-link active text-dark bgAccent">
                        Download all CSV's
                    </button>
                </li>
                
            }
        }
        else if (User.IsInRole(UserRoles.Facilitator))
        {
            <li id="tohideD" class="nav-nav-item bgPrimary text-center">
                <a asp-action="Dashboard" asp-controller="Facilitator" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page" >Dashboard</a>
            </li>
            <li id="tohideS" class="nav-nav-item bgPrimary text-center">
                <a asp-action="Facilitator" asp-controller="Flow" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page">Connect to kiosk</a>
            </li>
        } else if (User.IsInRole((UserRoles.PlatformAdmin)))
        {
            <li id="tohideD" class="nav-nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SharedPlatform" class="bhover nav-nav-link active nav-text-dark bgAccent" aria-current="page" >Dashboard</a>
            </li>
            <li id="tohideS" class="nav-nav-item bgPrimary text-center" >
                <a asp-controller="Statistics" asp-action="Statistics" class="bhover nav-nav-link active nav-text-dark bgAccent" aria-current="page" >Statistics</a>
            </li>
        }
        else
        {
            <li id="tohideD" class="nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SharedPlatform" class="nav-bhover nav-nav-link active nav-text-dark nav-bgAccent" aria-current="page" >Dashboard</a>
            </li>
        }
        <li id="tohideLO" class="nav-nav-item nav-bgAccent nav-bhover" >
            <form id="logoutForm" class="nav-form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a class="d-block nav-text-dark">
                    <button id="logout" type="submit" class="nav-btn nav-text-dark nav-w-100 nav-text-decoration-none" >Sign Out</button>
                </a>
            </form>
        </li>

        <div class="d-flex justify-content-between">
            <div class="nav-nav-item" id="language" >
                <button class="bhover nav-text-dark nav-w-100 bgAccent">NED</button>
            </div>

            <div class="nav-nav-item" id="collapseButton">
                <button class="nav-bhover nav-text-dark nav-w-100 bgAccent">
                    <i id="nav-icon" class="bi bi-caret-left-fill" ></i>
                </button>
            </div>
        </div>

    </ul>
</div>

@RenderBody()

</body>
</html>
@await RenderSectionAsync("Scripts", required: false)

<script src="~/dist/navigation.entry.js" defer></script>