@using Domain.Accounts
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CodeForge</title>
    <script src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css"/>

</head>
<body>
<div class="navbar-container col-lg-2 bgPrimary" id="navbar">
    <ul class="navbar-menu nav flex-column mb-auto" id="maincontent">
        <div class="logo" id="navbar-logo-id">
            <img src="/favicon.ico" alt="Logo">
        </div>

        <li class="navbar-nameuser toHide">
            <a>Hi, @(User.Identity!.Name ?? "User")!</a>
        </li>

        @if (User.IsInRole(UserRoles.SystemAdmin)) // If the user is a SystemAdmin
        {
            <a asp-action="Dashboard" asp-controller="SystemPlatform" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-table"> Dashboard</i>
                </li>
            </a>
            <a asp-controller="Statistics" asp-action="Statistics" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-pie-chart-fill"> Statistics</i>
                </li>
            </a>
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li class="navbar-menu-item-export toHide">
                    <button id="exportAllCSV" class="navbar-menu-item-export-button">Download All CSV's</button>
                </li>
                @* <li id="tohideC" class="navbar-menu-item nav-nav-item bgPrimary text-center"> *@
                @*     <button id="exportAllCSV" class="bNewHover nav-nav-link active text-dark bgNewAccent">Download all CSV's</button> *@
                @* </li> *@
            }
        }
        else if (User.IsInRole((UserRoles.PlatformAdmin))) // If the user is a PlatformAdmin
        {
            <a asp-action="Dashboard" asp-controller="SharedPlatform" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-table"> Dashboard</i>
                </li>
            </a>
            <a asp-controller="Statistics" asp-action="Statistics" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-pie-chart-fill"> Statistics</i>
                </li>
            </a>
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li class="navbar-menu-item-export toHide">
                    <button id="exportUserInput" class="navbar-menu-item-export-button">Download User Input</button>
                </li>
            }
        }
        else if (User.IsInRole(UserRoles.Facilitator)) // If the user is a Facilitator
        {
            <a asp-action="Dashboard" asp-controller="Facilitator" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-table">
                        Dashboard
                    </i>
                </li>
            </a>
            <a asp-action="Facilitator" asp-controller="Flow" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-tv-fill">
                        Connect to kiosk
                    </i>
                </li>
            </a>
        }
        else
        {
            <a asp-action="Dashboard" asp-controller="SharedPlatform" aria-current="page" class="text-decoration-none">
                <li class="navbar-menu-item toHide">
                    <i class="bi bi-table">
                        Dashboard
                    </i>
                </li>
            </a>
        }
        <li class="navbar-menu-item-logout toHide">
            <form id="logoutForm" class="w-100 h-100" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" class="w-100 h-100" type="submit">Logout</button>
            </form>
        </li>
        <!--Buttons to navigate-->

        <div class="d-flex">
            <div id="language" class="navbar-language-dropdown toHide">
                <button class="navbar-menu-item-language-button">NL</button>
                <div class="navbar-language-dropdown-content">
                    <a href="#">NL</a>
                    <a href="#">EN</a>
                    <a href="#">FR</a>
                    <a href="#">DE</a>
                </div>
            </div>

            <div id="collapseButton">
                <button class="navbar-menu-item-arrow-button" id="arrow-button">
                    <i id="nav-icon" class="bi bi-caret-left-fill"></i>
                </button>
            </div>
        </div>
    </ul>
</div>

@RenderBody()

</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/dist/navigation.entry.js" defer></script>
<script src="~/dist/site.entry.js" defer></script>