@using Domain.Accounts
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CodeForge</title>
    <script src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body>
<div class="col-lg-2 bgPrimary h-100" id="navbar" >
    <ul class="nav flex-column mb-auto" id="maincontent" >
        <div class="logo">
            <img src="/favicon.ico" alt="Logo">
        </div>

        <li id="tohideAN" class="nav-nav-item text-center" >
            <a>Welcome @User.Identity!.Name!</a>
        </li>
        
        @if (User.IsInRole(UserRoles.SystemAdmin)) // If the user is a SystemAdmin
        {
            @* <li class="navbar-menu-item" id="tohideD"> *@
            @*     <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SystemPlatform" aria-current="page"> Dashboard</a></i> *@
            @* </li> *@
            @* <li class="navbar-menu-item" id="tohideS"> *@
            @*     <i class="bi bi-pie-chart-fill"><a asp-controller="Statistics" asp-action="Statistics" aria-current="page"> Statistics</a></i> *@
            @* </li> *@
            <li id="tohideD" class="nav-nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SystemPlatform" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page"><i class="bi bi-table"> Dashboard</i></a>
            </li>
            <li id="tohideS" class="nav-nav-item bgPrimary text-center" >
                <a asp-controller="Statistics" asp-action="Statistics" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page" ><i class="bi bi-pie-chart-fill"> Statistics</i></a>
            </li>
            
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li id="tohideC" class="navbar-menu-item nav-nav-item bgPrimary text-center">
                    <button id="exportAllCSV" class="bhover nav-nav-link active text-dark bgAccent">
                        Download all CSV's
                    </button>
                </li>
            }
        }
        else if (User.IsInRole((UserRoles.PlatformAdmin))) // If the user is a PlatformAdmin
        {
            <li id="tohideD" class="nav-nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SharedPlatform" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page"><i class="bi bi-table"> Dashboard</i></a>
            </li>
            <li id="tohideS" class="nav-nav-item bgPrimary text-center" >
                <a asp-controller="Statistics" asp-action="Statistics" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page" ><i class="bi bi-pie-chart-fill"> Statistics</i></a>
            </li>
            
            @if (ViewContext.HttpContext.Request.Path.StartsWithSegments("/Statistics/Statistics"))
            {
                <li class="navbar-menu-item bgPrimary text-center" id="tohideI">
                    <button id="exportUserInput" class="nav-nav-link active text-dark bgAccent bhover">Download User Input</button>
                </li>
            }
        }
        else if (User.IsInRole(UserRoles.Facilitator)) // If the user is a Facilitator
        {
            <li id="tohideD" class="nav-nav-item bgPrimary text-center" >
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SystemPlatform" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page"> Dashboard</a></i>
            </li>
            <li id="tohideS" class="navbar-menu-item nav-nav-item bgPrimary text-center">
                <a asp-action="Facilitator" asp-controller="Flow" class="bhover nav-nav-link active text-dark bgAccent" aria-current="page"><i class="bi bi-tv-fill"> Connect to kiosk</i></a>
            </li>
        }
        else
        {
            <li class="navbar-menu-item" id="tohideD">
                <i class="bi bi-table"><a asp-action="Dashboard" asp-controller="SharedPlatform" aria-current="page">Dashboard</a></i>
            </li>
            <li id="tohideD" class="nav-item bgPrimary text-center" >
                <a asp-action="Dashboard" asp-controller="SharedPlatform" class="nav-bhover nav-nav-link active nav-text-dark nav-bgAccent" aria-current="page" >Dashboard</a>
            </li>
        }
        
        <li id="tohideLO" class="nav-nav-item nav-bgAccent nav-bhover" >
            <form id="logoutForm" class="nav-form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a class="d-block nav-text-dark">
                    <button id="logout" type="submit" class="nav-btn nav-text-dark nav-w-100 nav-text-decoration-none" >Sign Out</button>
                </a>
            </form>
        </li>

        <div class="d-flex justify-content-between">
            <div id="language" class="nav-nav-item navbar-language-dropdown">
                <button class="navbar-menu-item-language-button">NL</button>
                <div class="navbar-language-dropdown-content">
                    <a href="#">NL</a>
                    <a href="#">EN</a>
                    <a href="#">FR</a>
                    <a href="#">DE</a>
                </div>
            </div>
            
            <div class="nav-nav-item" id="collapseButton">
                <button class="nav-bhover nav-text-dark nav-w-100 bgAccent">
                    <i id="nav-icon" class="bi bi-caret-left-fill" ></i>
                </button>
            </div>
        </div>

    </ul>
</div>

@RenderBody()

</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/dist/navigation.entry.js" defer></script>
<script src="~/dist/site.entry.js" defer></script>