@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>Code for facilitator: <span id="connectionCode"></span></p>
</div>
<div id="flowContainer">

</div>
</body>
</html>



<script src="/dist/kiosk.entry.js" defer></script>
<link rel="stylesheet" href="~/dist/site.css"/>