<div id="userToast" class="toast" style="position: absolute; top: 2em; right: 2em;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">CodeForge</strong>
        <button type="button" class="mb-1 btn-close" id="closeUserToast">
        </button>
    </div>
    <div class="toast-body">
        The user as been successfully created!
    </div>
</div>