<div class="col">
    <h2>Connect to Phygital kiosk:</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="inputCode">
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" id="btnEnterCode">
        </div>
    </div>
</div>

<partial name="Modals/FlowTypeModal"/>