@model string

<div class="col">
    <div>
        <button>Disconnect from kiosk</button>
        <h2>Choose @Model flow(s) for kiosk</h2>
    </div>
    <form id="flowContainer">

    </form>
</div>

<p class="visually-hidden" id="flowType">@Model</p>

<script src="~/dist/facilitator.entry.js" defer></script>