<div class="col-10">
    <!-- Search -->
    <div class="d-flex justify-content-between">
        <div class="card border-black border-2 bgAccent align-items-lg-start">
            <a href="/todo/aaaaaaaaaa" style="color: white;" class="m-1">Projects</a>
        </div>
        <div class="card border-black border-2 bgAccent align-items-md-end">
            <input class="m-1" placeholder="Start typing to search">
        </div>
    </div>
    
    <div class="row row-cols-3 border rounded-4 bgSecondary ps-4 pe-4 m-4 ">
        <!-- New Project -->
        <div class="col mt-3 mb-3">
            <div class="card border-black border-2 bgAccent" style="height: 250px; position: relative;">
                <div class="card-body align-items-center d-flex justify-content-center">
                    @* <a class="nav-link text-light" asp-area="" asp-controller="Project" asp-action="Projects" asp-route-id="1"> <i class="bi bi-folder-plus" style="color: white"></i> </a> *@
                    <button id="btnCreateProject" class="border-0 p-0" style="background: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%;">
                        <i class="bi bi-folder-plus" style="color: white"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Edit Project -->
        <div class="col mt-3 mb-3">
            <div class="card border-black border-2 bgAccent h-100" style="height: 150px;">
                <button id="btnHideProject" class="border-0 p-0 position-absolute top-0 end-1 ms-2" style="background: none;">
                    <i class="bi bi-eye" style="color: white;"></i>
                </button>
                <button id="btnDeleteProject" class="border-0 p-0 position-absolute top-0 end-0 me-2" style="background: none;">
                    <i class="bi bi-folder-minus" style="color: white;"></i>
                </button>
                <button id="btnGraphProject" class="border-0 p-0 position-absolute top-0 end-0 mt-5 me-2" style="background: none;">
                    <i class="bi bi-graph-up" style="color: white;"></i>
                </button>
                <div class="card-body align-items-center d-flex justify-content-center">
                    @* <a href="/todo/proj?id=" style="color: white;">Edit Project</a> *@
                    <a class="nav-link text-light" asp-area="" asp-controller="Project" asp-action="Projects" asp-route-id="1">Edit Project</a>
                    <button id="btnEnterProject" class="border-0 p-0" style="background: none;">
                        <i class="bi bi-folder" style="color: white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card border-black border-2 bgAccent h-100"style="height: 150px;">
                <button id="btnHideProject" class="border-0 p-0 position-absolute top-0 end-1 ms-2" style="background: none;">
                    <i class="bi bi-eye" style="color: white;"></i>
                </button>
                <button id="btnDeleteProject" class="border-0 p-0 position-absolute top-0 end-0 me-2" style="background: none;">
                    <i class="bi bi-folder-minus" style="color: white;"></i>
                </button>
                <button id="btnGraphProject" class="border-0 p-0 position-absolute top-0 end-0 mt-5 me-2" style="background: none;">
                    <i class="bi bi-graph-up" style="color: white;"></i>
                </button>
                <div class="card-body align-items-center d-flex justify-content-center">
                    <a href="/todo/proj?id=" style="color: white;">Edit Project</a>
                    <button id="btnEnterProject" class="border-0 p-0" style="background: none;">
                        <i class="bi bi-folder" style="color: white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>