<div class="col-10">
    <div id="UserRoulette" class="row row-cols-3 border rounded-4 bgSecondary ps-4 pe-4 m-4 h-25">
        <div class="col mt-3 mb-3">
            <div class="card border-black border-2 bgAccent h-100">
                <button id="butCreateUser" class="border-0 p-0  h-100" style="background: none">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <i class="bi bi-person-plus-fill" style="color: white"></i>
                    </div>
                </button>
            </div>
        </div>
        
    </div>
</div>

<partial name="Modals/CreateUserModal"/>