<div class="modal" id="restartStepModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close invisible"></button>
                <h3 class="modal-title text-black text-end">Confirm move</h3>
                <button type="button" class="btn-close invisible" id="btncloseRestart"></button>
            </div>
            <div class="modal-footer border-0 bgColor">
                @* <button type="button" class="btn bgSecondary text-white" id="btncanelRestart">Cancel</button> *@
                <button type="button" class="btn bgPrimary text-white" id="btnRestart">Confirm</button>
            </div>
        </div>
    </div>
</div>