<div class="modal" id="ViewFlowModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close invisible"></button>
                <h3 id="editHeader" class="modal-title text-black text-end">View Flow</h3>
                <button type="button" class="btn-close invisible"></button>
            </div>
            <div class="modal-body bgColor">
                <div class="col ms-3">
                    <span>Are you sure you want to view this flow?</span>
                    <br/>
                    <small style="color: red">(Any unsaved progress will be lost!)</small>
                </div>
            </div>
            <div class="modal-footer border-0 bgColor">
                <button type="button" class="btn bgSecondary text-white" id="btnCancelViewFlowModal">Cancel</button>
                <button type="button" class="btn bgPrimary text-white" id="btnSaveViewFlowModal">Save Flow</button>
                <a class="btn bgPrimary text-white" id="btnConfirmViewFlow">View Flow</a>
            </div>
        </div>
    </div>
</div>