@model Domain.Platform.Statistic
@{
    Layout = "_NavLayout";
    ViewData["Title"] = "Statistic";
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<head>
    <link rel="stylesheet" href="~/dist/site.css"/>
    <style>
        .chart-container {
          display: flex;
          padding-left: 20px;
          justify-content: center;
        }
        canvas {
          width: 900px;
          padding: 40px;
        }
        .container-selectFlow {
        padding-left: 130px !important;
        }
        canvas#doughnutChart {
          width: 1300px !important;
        }
        hr{
        width: 60%; border: 3px solid rgba(243, 124, 0, 1); border-radius: 5px;
        }
        .left-graph{
        padding-left: 100px;
        }
        .right-graph{
        padding-right: 100px;
        }
        .center-graph{
        display: flex;
            justify-content: center;
            align-items: center;
        }
        
        h2{
            position: absolute; 
            left: 50%; 
            transform: translateX(-50%);
        }
        .csv{
            position: absolute; 
            right: 10%;
            border-radius: 5px; 
            border: 1px solid black;
        }
        .title-container{
            padding-top: 40px; 
            position: relative;
        }
    </style>
</head>
<body class="row h-100 w-100">
<div class="text-center col-lg-10">
    <div class="row container-content-body">
        
        <div class="title-container d-flex justify-content-center align-items-center">
            <h2>FLOWS STATISTICS</h2>
            <div class="csv nav-item bgAccent bhover"> 
                <button id="exportCSVFlows" class="btn btn-link text-dark text-decoration-none">Download CSV</button>
            </div>
        </div>

        <div class="chart-container d-flex flex-row align-items-center">
            <div class="left-graph">
                <canvas id="barChart"></canvas>
            </div>
            <div class="right-graph">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="padding: 20px 0;">
            <hr>
        </div>
        
        <div class="title-container d-flex justify-content-center align-items-center">
            <h2>FLOW STATISTICS</h2>
            <div class="csv nav-item bgAccent bhover"> 
                <button id="exportCSVFlow" class="btn btn-link text-dark text-decoration-none">Download CSV</button>
            </div>
        </div>
        
        <div class="container-selectFlow">
            <div class="kiosk-container-top-left">
                <label class="d-flex flex-column">
                    <p style="color: aliceblue">Select a Flow to get its specific statistics.</p>
                    <select id="selectFlow">
                    </select>
                </label>
            </div>
        </div>
        <div class="chart-container d-flex flex-row align-items-center">
            <div class="left-graph">
                <canvas id="radarChart"></canvas>
                @* <canvas id="lineChart"></canvas> *@
            </div>
            <div class="right-graph"><canvas id="pieChart"></canvas></div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="padding: 20px 0;">
            <hr>
        </div>
        
        <div class="title-container d-flex justify-content-center align-items-center">
            <h2>QUESTION STATISTICS</h2>
            <div class="csv nav-item bgAccent bhover"> 
                <button id="exportCSVQuestion" class="btn btn-link text-dark text-decoration-none">Download CSV</button>
            </div>
        </div>
        
        
        <div class="container-selectFlow">
            <div class="kiosk-container-top-left">
                <label class="d-flex flex-column">
                    <p style="color: aliceblue">Select a Question to get its specific statistics.<br>(dependent on your chosen flow above)</p>
                    <select id="selectQuestion">
                    </select>
                </label>
            </div>
        </div>
        <div class="chart-container d-flex flex-row align-items-center">
            <div class="center-graph">
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>

    </div>
</div>
</body>
</html>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/dist/site.entry.js" defer></script>
    <script src="~/dist/statistics.entry.js" defer></script>
}
