@model Domain.Platform.Statistic
@{
    Layout = "_NavLayout";
    ViewData["Title"] = "Statistic";
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<head>
    <link rel="stylesheet" href="~/dist/site.css"/>
    <style>
        #chart-container {
          /*width: 800px; */
          /*height: 800px;*/
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          padding-left: 20px;
        }
        canvas {
          width: 900px;
          /*height: 80px;*/
         font-size: 30px;
        }
        /*#chart-container .chartjs-title {*/
        /*    font-size: 30px; !* Adjust the font size as desired *!*/
        /*    font-weight: bold; !* Optionally adjust other font properties *!*/
        /*}*/
    </style>
</head>
<body class="row h-100 w-100">
<div class="text-center col-lg-10">
    <div class="d-flex justify-content-center align-items-center">
        <h1>STATISTICS</h1>
    </div>

    <div id="chart-container">
        <div>
            <canvas id="barChart"></canvas>
            <canvas id="lineChart"></canvas>
        </div>
        <div>
            <canvas id="doughnutChart"></canvas>
        </div>
        <div>
            <canvas id="radarChart"></canvas>
        </div>
    </div>
</div>

</body>
</html>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/dist/site.entry.js" defer></script>
    <script src="~/dist/statistics.entry.js" defer></script>
}
