@model Domain.Platform.Statistic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="" class="h-100 w-100 overflow-hidden">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/dist/site.css"/>
</head>
<body class="row h-100 w-100">
<div class="text-center">
</div>
STATISTICS
</body>
</html>

<script src="~/dist/site.entry.js" defer></script>
<script src="~/dist/dashboard.entry.js" defer></script>