@{
    ViewBag.Title = "System dashboard";
    Layout = "_NavLayout";
}
<html lang="" class="h-100 w-100 overflow-hidden">
<body class="row h-100 w-100">
<div class="text-center col-lg-10 h-100">
    <div class="py-3 h-100">
        <div class="container h-100">
            <div class="flex-fill">
                <div class="title-container">
                    <span class="title-title">Platforms</span>
                    <hr class="title-divider">
                </div>
            </div>
            <ul id="containerSharedPlatform" class="row list-unstyled overflow-y-scroll mt-3">
                
            </ul>
        </div>
    </div>
</div>
</body>
</html>

<partial name="Modals/ModalAddPlatform"></partial>

@section Scripts
{
    <script src="/dist/systemDashboard.entry.js" defer></script>
}