<div class="modal" id="deleteFlowModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close invisible"></button>
                <h3 id="editHeader" class="modal-title text-black text-end">Delete</h3>
                <button type="button" class="btn-close invisible"></button>
            </div>
            <div class="modal-body bgColor">
                <div class="col ms-3">
                    <span>Are you sure you want to permanently delete this flow?</span>
                </div>
            </div>
            <div class="modal-footer border-0 bgColor">
                <button type="button" class="btn bgSecondary text-white" id="btnCancelDeleteFlowModal">No</button>
                <button type="button" class="btn bgPrimary text-white" id="btnConfirmDeleteFlow">Yes</button>
            </div>
        </div>
    </div>
</div>