<div class="modal" id="flowTypeModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>Choose flow type for kiosk</p>
                <button class="btn btn-secondary" id="btnLinearFlow">Linear flow</button>
                <button class="btn btn-secondary" id="btnCircularFlow">Circular flows</button>
            </div>
        </div>
    </div>
</div>