/***************************************
 *                                     *
 * Created by CodeForge                *
 * Visit https://codeforge.eliasdh.com *
 *                                     *
 ***************************************/

@import "../variables";

.loginBody {
  background-color: #f4ecd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Trirong', Arial, sans-serif;
  overflow: hidden;
}

.loginSvg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.app-name {
  color: #f37c00;
  font-size: 35px;
  margin-top: 20px;
  text-align: center;
}

.login-form {
  background-color: #f37c00;
  border: 1px solid #e5e5e5;
  width: 320px;
  margin-top: 20px;
  padding: 20px 10px 60px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
  margin: 8px 0;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  font-family: 'Trirong', Arial, sans-serif;
}

.login-form input:focus {
  outline: none;
  border-color: #e9531d;
}

.login-form .button {
  background-color: map-get($themes, light, primary);
  color: white;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Trirong', Arial, sans-serif;
}

.login-form .button:hover {
  background-color: map-get($themes, light, primary);
  filter: brightness(115%);
  color: white;
}

.logo img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  padding-bottom: 20px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}