@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CodeForge</h1>

</div>

@section scripts{
    <script src="~/dist/index.entry.js" defer></script>
}