@{
    ViewData["Title"] = "Legal Guidelines";
}
<!DOCTYPE html>
<!--Author Elias De Hondt-->
<html class="h-100" lang="">
<head>
    <!--Meta + Title-->
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Meta + Title-->
</head>
<h1>@ViewData["Title"]</h1>
<div>
    <p>Our Privacy Policy complies with the legal guidelines and regulations pertaining to data protection in the jurisdictions we operate in, including but not limited to the General Data Protection Regulation (GDPR) for individuals within the European Union (EU).</p>
    <p>We are committed to upholding the rights of individuals regarding their personal data and strive to maintain transparency, fairness, and accountability in our data processing practices.</p>
    <p>For more information on how we collect, use, and protect your personal data, please refer to our <a asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>.</p>
</div>