@{
    Layout = null;
    ViewData["Title"] = $"Facilitator";
}

<!DOCTYPE html>
<!--Author Elias De Hondt-->
<html class="h-100" lang="">
<head>
    <!--Meta + Title-->
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Meta + Title-->
    <!--CSS-->
    <link rel="stylesheet" href="~/dist/site.css"/>
    <!--CSS-->
</head>
<body class="kiosk-background-colors-scheme facilitator-body overflow-hidden">
<div class="facilitator-top-center">
    <div class="facilitator-container-top-center">
        <h1>Connection Kiosk: <span id="connectionCode"></span></h1>
        <button class="facilitator-button-step-control" id="btnCloseInstallation">Disconnect</button>
        <br/>
        <br/>
        <div class="facilitator-input-container">
            <input class="facilitator-input-code" type="text" id="inputCode" placeholder="Connect kiosk (code)">
            <button class="facilitator-invite-btn" type="submit" id="btnEnterCode">Send</button>
        </div>
    </div>
</div>
<partial name="Modals/FlowTypeModal"/>
<div class="facilitator-center-center" id="cardCurrentFlow">
    <div class="facilitator-container-center-center">
        <div>
            <div>Current flow: <span id="currentFlow"></span></div>
            <div>State: <span id="currentState"></span></div>
        </div>
        <div>
            <textarea class="facilitator-input-note" type="text" id="inputNote" placeholder="Notes"></textarea>
        </div>
        <div>
            <button class="facilitator-button-step-control" id="btnPauseFlow">Pause flow</button>
            <button class="facilitator-button-step-control" id="btnSaveNote">Save note</button>
        </div>
    </div>
</div>
<div class="facilitator-bottom-center">
    <div class="facilitator-container-bottom-center">
        <partial name="Partials/_FlowPartial"/>
    </div>
</div>
</body>
</html>
<!--JS-->
<script src="~/dist/facilitator.entry.js" defer></script>
<!--JS-->