@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
  </head>
<body>
<div class="card">
    <div class="card-header">Current flow activtiy</div>
    <div class="card-body">
        <h2 class="card-title">Flow <span id="currentFlow"></span></h2>
    </div>
</div>
</body>
</html>

<script src="~/dist/facilitator.entry.js" defer></script>