@model Domain.ProjectLogics.Steps.StepBase

@{
    Layout = null;
    ViewData["Title"] = "TempFlow";
    @await RenderSectionAsync("Scripts", required: false)
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <div class="container" id="informationContainer">
        
    </div>
</div>
</body>
<footer>
    <button id="butNextStep">Next step</button>
</footer>
</html>

@section Scripts{
    
    <script src="/dist/step.entry.js" defer></script>
    
}