@model Domain.ProjectLogics.Steps.StepBase

@{
    Layout = null;
    ViewData["Title"] = "TempFlow";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <div class="container" id="informationContainer">
    </div>
    <div class="container d-block" id="questionContainer">
        
    </div>
</div>
</body>
<footer>
    <button id="butNextStep">Next step</button>
</footer>
</html>

    
<script src="/dist/step.entry.js" defer></script>