@using Domain.ProjectLogics
@model Flow

@{
    Layout = null;
    ViewData["Title"] = $"Flow {Model.Id}";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>Flow <span id="flowId">@Model.Id</span> - Step <span id="stepNr"></span></h1>
<p>Theme <span id="theme">@Model.Theme.Id</span> - @Model.Theme.Subject</p>
<div>
    <div class="container" id="informationContainer">
        
    </div>
</div>
</body>
<footer>
    <button id="btnNextStep">Next step</button>
    <button id="btnRestartFlow">Restart flow</button>
    <a id="aExitFlow">Exit flow</a>
</footer>
</html>

    
<script src="/dist/step.entry.js" defer></script>