<div class="col-10 ms-5">
    <!-- Search -->
    <div class="d-flex justify-content-between">
        <div class="card border-black border-2 bgAccent align-items-lg-start">
            <span style="color: white;" class="m-1">Subthemas</span>
        </div>
        <div class="card border-black border-2 bgAccent align-items-md-end">
            <input class="m-1" placeholder="Start typing to search">
        </div>
    </div>

    <div class="row row-cols-3 border rounded-4 bgSecondary ps-4 pe-4 pb-3 m-4 ">
        <section class="embla" id="emblaSubThemes">
            <div class="embla__viewport">
                <div id="carouselContainer" class="embla__container">
                    <div class="embla__slide" id="createSubThemeSlide">
                        <div id="cardCreateSubTheme" class="col mt-3 mb-3">
                            <div class="card border-black border-2 bgAccent" style="height: 250px; position: relative;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <button id="btnCreateSubTheme" class="border-0 p-0 h-100 w-100" style="background: none;">
                                        <i class="bi bi-folder-plus" style="color: white; font-size: 10vh"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="embla__controls" style="margin-top: -1vh">
                <div class="embla__buttons">
                    <button class="embla__button embla__button--prev" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 532 532">
                            <path
                                fill="white"
                                d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z">
                            </path>
                        </svg>
                    </button>
                    <button class="embla__button embla__button--next" type="button">
                        <svg class="embla__button__svg" viewBox="0 0 532 532">
                            <path
                                fill="white"
                                d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        <!-- Edit Project -->
    </div>
</div>