<div class="modal" id="EditUserModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close invisible"></button>
                <h3 id="editHeader" class="modal-title text-black text-end">Editing </h3>
                <button type="button" class="btn-close" id="butCloseEditUserModal"></button>
            </div>
            <div class="modal-body bgColor">
                <div class="col ms-3">
                    <div class="form-group mb-3">
                        <label>
                            Name
                            <input id="inpEditName"/>
                        </label>
                    </div>
                    <div class="form-group mb-3">
                        <label>
                            Email
                            <input id="inpEditEmail"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 bgColor">
                <button type="button" class="btn bgSecondary text-white" id="butCancelEditUserModal">Cancel</button>
                <button type="button" class="btn bgPrimary text-white" id="butConfirmEditUser">Edit user</button>
            </div>
        </div>
    </div>
</div>
