<div class="modal" id="projectStatisticsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-0">
                <button type="button" class="btn-close" id="btnCloseStatistics"></button>
            </div>
            <div class="modal-body bgColor">
                <div class="col ms-3">
                    <span>Hier komen de statistieken :)</span>
                </div>
            </div>
        </div>
    </div>
</div>