<div class="modal" id="projectStatisticsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-3 border-accent">
            <div class="modal-header bgColor border-bottom-2 border-accent">
                <h2 class="modal-title text-black text-end">
                    <span id="projectTitle"></span>
                </h2>
                <button type="button" class="btn-close" id="btnCloseStatistics"></button>
            </div>
            <div class="modal-body bgColor text-start" id="divStats">
            </div>
        </div>
    </div>
</div>